#header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

    background-color: #9ac0bf;
    padding-top: 1em;
    padding-left: 1em;

}

body{

    background-color: #F0EBE3;
    font-family: 'Noto Sans JP', sans-serif;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #E4DCCF;
    border: 1px solid black;
}

nav ul li{
    margin: 2em;
    border: 1px solid black;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #9AC0BF;
    padding-bottom: 0.3em;

}

nav ul li a{
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}


ul{
    list-style-type: none;
}

h2{
    border-top: 1px solid black;
    border-bottom:  1px solid black;
    text-align: center;

}

#inputLogin{
    text-align: center;



}

#ensembleLogin{
  border: 2px solid black;
    margin: 2em;
    padding: 2em;
    font-size: 1.5em;
}

#affichageForm{
    text-align: center;
}

#tableAffichage{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;

}

table {
    border: 2px solid black;
}

#listes{
    text-align: center;
}

.ajouterForms{
    text-align: center;
}