{% extends 'base.html.twig' %}

{% block body %}

    <form id="affichageForm">
        <label> Choisir une date:
            <input type="date" name="calendrier" id="calendrier" >
        </label>
        <input id="bouton" type="submit" value="Valider">

    </form>

    <h2>AFFICHAGE</h2>

    <div id="tableAffichage">
        <h3>Date :  {{ dateCalendrier}} </h3>
        <table >
            <tr>
                <th></th>
                <th>Midi</th>
                <th>Soir</th>

            </tr>
            <tr>
                <td></td>
                <td>{{ cptMidi }}</td>
                <td>{{ cptSoir }}</td>

            </tr>
        </table>
    </div>


{% endblock %}

{% block title %}

{% endblock %}

