<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
    </head>
    <body>
    <img src="{{ asset('media/CMFP.png') }}" id="logoCMFP">
    <img src="{{ asset('media/DEF_MOB.png') }}" id="logoDEFMOB">
    <h1>Décompte rationnaire</h1>
        {% block body %}
            <a href="{{ path('app_login') }}">Se Connecter</a>
        {% endblock %}
    </body>
</html>
